@import "../../styles/variables.scss";

#products-carousel {
  min-height: 840px;
  background-color: $text-color-white;
  .carousel__wrapper {
    height: 440px;
    margin: 0;
    background-color: #0d244b;
  }
  .carousel__background {
    width: 863px;
    height: 422px;
    margin: -245px calc(((100% - 1140px) / 2)) 0 auto;
    margin-right: calc(((100% - 940px) / 2));
    background-color: #f1c50e;
    border-radius: 20px;
  }
  .carousel__image {
    width: 864px;
    height: 546px;
    object-position: 50% 100%;
    margin: -738px auto 0 calc(((100% - 1140px) / 2));
    margin-top: -617px;
    margin-left: calc(((100% - 940px) / 2));
    border-radius: 20px;
  }
  .carousel__container {
    width: 825px;
    margin: -85px auto 0 calc(((100% - 1140px) / 2) + 50px);
    margin-top: -73px;
    margin-left: calc(((100% - 940px) / 2) + 33px);
    display: flex;
    flex-direction: column;
    .carousel__grid {
      grid-template-columns: repeat(3, calc(33.3333% - 12px));
      min-height: 302px;
      grid-gap: 18px;
      display: grid;
    }
    .item {
      color: $text-color-dark;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
      .item__layout {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 20px;
        text-align: center;
        .item__title {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 24px;
          font-style: normal;
        }
        .item__content {
          width: 164px;
          height: 164px;
        }
      }
    }
  }

  @include breakpointMax(phone) {
    min-height: 1120px;
    .carousel__background {
      width: 340px;
      height: 947px;
      margin-top: -301px;
      margin-right: auto;
    }
    .carousel__image {
      width: 315px;
      height: 220px;
      margin-top: -1086px;
      margin-left: calc(((100% - 340px) / 2));
    }
    .carousel__container {
      width: 279px;
      margin-top: -52px;
      margin-left: calc(((100% - 340px) / 2) + 23px);
      .carousel__grid {
        min-height: 880px;
        grid-template-columns: 100%;
        grid-gap: 18px;
      }
      .item {
        .item__layout {
          padding: 30px 14px;
          .item__title {
            font-size: 22px;
          }
        }
      }
    }
  }
}
