@import "../../styles/variables.scss";

#products-carousel {
  min-height: 720px;
  background-color: $text-color-white;
  .carousel__wrapper {
    height: 440px;
    margin: 0;
    background-color: #0d244b;
  }
  .carousel__background {
    width: 863px;
    height: 422px;
    margin: -245px calc(((100% - 1140px) / 2)) 0 auto;
    margin-right: calc(((100% - 940px) / 2));
    background-color: #f1c50e;
    border-radius: 20px;
  }
  .carousel__image {
    width: 864px;
    height: 546px;
    object-position: 50% 100%;
    margin: -738px auto 0 calc(((100% - 1140px) / 2));
    margin-top: -617px;
    margin-left: calc(((100% - 940px) / 2));
    border-radius: 20px;
  }
  .carousel__container {
    margin-top: 15px;
    .carousel__grid {
      width: 730px;
      margin: 0 auto;
      .item {
        img {
          width: 135px;
          height: 90px;
          object-position: center;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
    .carousel__description {
      text-align: right;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      text-decoration: underline;
      margin-right: calc((100% - 940px) / 2);
    }
  }
 
  @include breakpointMax(phone) {
    min-height: 460px;
    .carousel__background {
      width: 340px;
      height: 270px;
      margin-top: -290px;
      margin-right: auto;
    }
    .carousel__image {
      width: 340px;
      height: 230px;
      margin-top: -395px;
      margin-left: calc(((100% - 340px) / 2));
    }
    .carousel__container {
      width: 340px;
      margin-top: 15px;
      margin-left: calc(((100% - 400px) / 2) + 23px);
      .carousel__grid {
        width: 333px;
        .item {
          img {
            width: 140px;
          }
        }
      }
      .item {
        .item__layout {
          padding: 30px 14px;
          .item__title {
            font-size: 22px;
          }
        }
      }
      .carousel__description {
        margin-right: 0;
      }
    }
  }
}
