@import "../../styles/variables.scss";

.modal__background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  .modal__container {
    width: 520px;
    background: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

    .modal__header {
      overflow: hidden;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      position: relative;
    }
    .modal__header-title {
      margin: 0px;
      padding: 15px 35px;
      color: $secondary;
      font-weight: 700;
      font-size: 18px;
      background-color: $primary;
      text-transform: uppercase;
    }
    .modal__btn-close {
      font-weight: 500;
      padding: 4px 8px;
      border-radius: 8px;
      border: none;
      font-size: 18px;
      color: #2c3e50;
      background: white;
      transition: all 0.25s ease;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
      position: absolute;
      right: 0;
      top: 0;
      align-self: flex-end;
      margin-top: -7px;
      margin-right: -7px;
      &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
        transform: translate(-4px, 4px);
      }
    }
    .modal__content {
      .form-container {
        margin: 10px;
        box-shadow: none;
        padding: 0;
        .label-input {
          font-size: 16px;
        }
        .form__input {
          display: block;
          width: 100%;
          padding: 10px 12px;
          background-image: none;
          background-clip: padding-box;
          border: none;
          border-radius: 10px;
          background-color: #f2f2f2;
          color: inherit;
          height: auto;
          font-size: 16px;
        }
        .form-field {
          .text-field {
            border-radius: 0;
            border: none;
            height: 45px;
            .field-control {
              background-color: #f2f2f2;
              line-height: 18px;
              border-radius: 10px;
            }
            &.field-focus {
              border: none !important;
            }
          }
        }
        .btn__register-modal {
          width: 50%;
          animation: none;
          background: none;
          background-color: #f1c50e;
          transform: translateX(50%);
          margin: 0px;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 700;
          color: $secondary;
          transition: all 0.4s ease;
          border-radius: 10px;
          @include prefix(transition, all 0.4s ease);
          &:hover {
            background-color: $secondary;
            color: $text-color-white;
          }
        }
      }
    }
    @include breakpointMax(phone) {
      width: 360px;
      .modal__header-title {
        padding: 15px;
        font-size: 15px;
      }
    }
  }
}